*

!**/

# Rust
!*.rs
!Cargo.lock
!Cargo.toml
!Shuttle.toml

# html
!*.html
!*.css
!manifest.json
!*.svg

# config
!.gitignore
!LICENSE
!README.md

# github
!.github/workflows/*.yml

# Ignore always
permissions.json
target/
Secrets*.toml